*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
   background-color: brown;
   color: white;
    text-align: center;
    align-items: center;
   
}

footer{
	bottom: 0%;
	margin-top:60px;
}
a{
    text-decoration: none;
    color: brown;
}
button{
    width: 100px;
    height: 30px;
    margin: 50px;
}
span{
	margin-left:10px;
	margin-right:10px;
}